[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Presentator
Comment=Used to show what kind of keys are pressed and released
Icon=preferences-desktop-wallpaper
X-Enlightenment-ModuleType=settings
